{% extends "LmiEventBundle::layout.html.twig" %}
 
{% block title %}
	{{ parent() }} : {{ title }}
{% endblock %}
 
{% block lmievent_body %}
	<h2>{{ title }}</h2>
 
	{% include "LmiEventBundle:Event:formulaire.html.twig" %}
{% endblock %}
