<div style="border:1px solid red; margin-bottom: 2px; height: 40px;background-color: orange">
	<!-- Flyer -->
	<p  class="colSchool0" style="float: left;border-right:1px solid red;width: 140px;text-align: center;font-weight: bold;height : 100%;">
		Ecoles
	</p>
	
	<div style="float: left;width: 559px; font-size: 90%; font-weight: bold;border-right:1px solid red;height : 100%;">
		<p style="background-color: yellow;text-align: center">Danses</p>
	</div>
	
	<p  class="colSchool2" style="float: left;width: 140px;text-align: center;font-weight: bold">
		Villes
	</p>
	<div class="clean"></div>
</div>

