{% set accommodation = element|default(null) %}

<div class="cov ligne">
	<!-- Flyer -->
	<div class="colCov0 flyer">
		<p style="float: left"><img src="{{ asset('bundles/lmievent/images/logo_ecole.jpg' | imagine_filter('thumb_160x120')) }}" alt="messi" /></p>
		<p class="clean"></p>
	</div>
	
	<!-- Resume -->
	<div class="colCov1 resume">
		
		<!-- car pooling title -->
		<div>
			<p class="trajet"><a href="#">Location T2</a></p>
			<p class="clean" />
		</div>
		
		<div class="">
			<div class="programme" style="float:left;font-size: 80%;padding:10px; width: 50%">
				<p style="font-size: 110%; padding-left: 10px;font-weight: bold; font-style: italic;"><span class=important>Bordeaux / Aquitaine / France</span></p>
			</div>
			<div style="float:left;width: 35%;font-size: 80%;padding:10px;">
			</div>
		</div>
		
		<p class="clean"></p>
		
		<div classe="service" style="font-size: 80%;padding-left:10px;background-color: yellow">
			<p>Hébergement/Location/Colocation pour l'événement : <b>{{ accommodation.event[0].identification }}</b></p>
		</div>
		<p class="clean"></p>
	</div>
	
	<div class="clean"></div>
</div>
