<div class="soiree" style="border:2px solid black;margin-top:10px;padding:10px">
	<!-- Flyer -->
	<div class="cell0" style="border:2px solid red"></div>
	
	<!-- Resume -->
	<div class="cell1" style="border:2px solid red"></div>
	
{# 	<!-- organisateur -->#}
{# 	<div class="cell2" style="border:2px solid red">#}
{# 		<p>Organisateur</p>#}
{# 	</div>#}
	
	<!-- ville -->
	<div class="cell3" style="border:2px solid red">
		<p>ville</p>
	</div>
	
	<!-- region -->
	<div class="cell4" style="border:2px solid red">
		<p>Région</p>
	</div>
	
	<div class="clean"></div>
</div>
