<!-- --------------------------------------------------------------------- -->
<!--  --------------------------- Hebergements ------------------------------>
<!-- --------------------------------------------------------------------- -->
<div id="userEvent" style="width: 100%; border: 1px solid green; padding: 5px; display: none">
	<div class="dash_bloc">
	
		<p class="title"><b>Alertes Evenements</b></p>
		
		<div class="contenu">
			<!-- ------------------------- -->
			<!-- --- Alertes Evenements -- -->
			<!-- ------------------------- -->
			<div class="received break-after">
				<div>
				<table class="tableau zebre avectri tablesorter">
				   <thead> 
				   	  <tr>
				        <th style="width:55%">Groupe</th>
				        <th style="width:35%">Date creation</th>
				        <th style="width:10%; padding:5px">
				        	<input type="checkbox"  value="deuxieme_checkbox"> 
				        </th>
				      </tr>
				   </thead>
				   <tbody>
				   	  <tr>
				        <td>
				        	<div style="font-size: 95%">
								<div style="float: left; height: 100%;">Kizomba (2 pers.)</div>
								<div class="liste_grp detail plus" style="float: right; height: 100%; padding: 0px"></div>
								<ul id="grp" class="clean" style="display:none">
									<li>Louis MESSI</li>
									<li>Louis MESSI</li>
									<li>Louis MESSI</li>
								</ul>
							</div>
				        </td>
				        <td>02/08/2016</td>
				        <td style="padding:5px">
				        	<input type="checkbox"  value="deuxieme_checkbox"> 
				        </td>
				      </tr>
				      <tr>
				        <td>Michelle</td>
				        <td>02/08/2016</td>
				        <td style="padding:5px">
				        	<input type="checkbox"  value="deuxieme_checkbox"> 
				        </td>
				      </tr>
				   </tbody>
				</table>
				
				<p style="margin-top: 10px; font-size: 90%"><a href="#" class="btn btn-default"><u>Définir un nouveau groupe</u></a></p>
			</div>
			</div>
				
		</div>
	</div>
</div>
