<div class="brique">
	<fieldset>
		<legend>Region/Ville</legend>
		<div>
			Regions : {{ form_widget(form.region) }}
		</div>
		<div>
			Villes  : {{ form_widget(form.villes) }}
		</div>
	</fieldset>
</div>