.dashboard .dash_bloc {
   border:1px solid red; 
   width:100%; 
   margin-bottom: 15px;
}

.ligne {
  border:1px solid black;
  margin-top:10px;
  padding:5px
}

/********************************************************************/

/************************GENERAL*************************************/

.lmi-nav-tabs {
	margin-bottom: 0px;
}

.max-width {
	width: 100%;
}

.contenu {
	padding: 5px;
	margin: 5px 0px 5px 0px;
}
.bloc-gauche {
	float: left;
}

.bloc-droit {
	float: right;
}

.bloc-avec-titre {
	padding: 0px;
	margin-bottom: 10px;
}

.bloc-avec-titre > .titre {
	padding: 0px; 
	margin: 0px;
	text-align: center;
}

.bords-arrondies {
	-moz-border-radius: 5px; border-radius: 5px;
}

.fond-orange {
	background-color: orange; 
}

.bordure-orange {
	border: 1px solid orange; 
}

.bordure-verte {
	border: 1px solid green; 
}

.bordure-noire {
	border: 1px solid black; 
}

.boutons-gestion {
	margin-top: 20px;
}

.bandeau-evenement {
	text-align:center;
	font-size: 80%;
	background-color: yellow
}

.smallFont {
  font-size: small;
}

.view > .title {
	text-align:center; 
	border-bottom: 1px solid black; 
	font-style: italic;
}

.texte-vert {
	color: green;
}

.texte-centre {
	text-align: center;
}

.text-orange {
	color: orange;
}

.text-navy {
	color: navy;
}

.dashboard .title { background: orange; padding-left:5px; }
.dashboard .contenu { padding:5px; font-size: 95% }
.dashboard table th, .dashboard table td { border: 1px solid black; }

.barrette {
   padding: 0;
   list-style: none;
   background: #7FFFD4;
   background: -moz-linear-gradient(#7FFFD4, #F0F8FF);
   background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #7FFFD4),color-stop(1, #F0F8FF));
   background: -webkit-linear-gradient(#7FFFD4, #F0F8FF);
   background: -o-linear-gradient(#7FFFD4, #F0F8FF);
   background: -ms-linear-gradient(#7FFFD4, #F0F8FF);
   background: linear-gradient(#7FFFD4, #F0F8FF);
  /*  -moz-border-radius: 50px;
   border-radius: 50px; */
   -moz-box-shadow: 0 2px 1px #9c9c9c;
   -webkit-box-shadow: 0 2px 1px #9c9c9c;
   box-shadow: 0 2px 1px #9c9c9c;
   height: 25px; 
   font-size: 95%;
}

.barrette .texte { 
   float: left; 
   width: 70%; 
   height: 100%; 
   padding: 0px 0px 0px 5px;
}

.barrette .detail {
   float: right;
   width: 30px;
   height: 100%;
   padding: 0px;
}

.dash_bloc .contenu { padding:5px; }

.dash_bloc .detail_box {
   margin-top: 5px;
   font-size: 90%;
   display: none;
}

.detail_box {
   margin-top: 5px;
   font-size: 90%;
}

.break-after { margin-bottom: 10px }

.chevron::before {
	border-style: solid;
	border-width: 0.25em 0.25em 0 0;
	content: '';
	display: inline-block;
	height: 0.45em;
	left: 0.15em;
	position: relative;
	top: 0.15em;
	transform: rotate(-45deg);
	vertical-align: top;
	width: 0.45em;
}

.chevron.bottom:before {
	top: 12px;
	transform: rotate(135deg);
}
