.dashboard .dash_bloc {
   border:1px solid red; 
   width:100%; 
   margin-bottom: 15px;
}

.ligne {
  border:1px solid black;
  margin-top:10px;
  padding:5px
}

/************************** CAR POOLING ************************/

.cp-edit-form .aller-retour {
	margin: 10px 0px 10px 0px;
}

.cp-edit-form .bloc-avec-titre .titre {
	font-style: italic; 
	background-color: orange; 
}

.cp-edit-form .bloc-avec-titre .contenu {
	padding: 4px 15px 4px 15px;
}

.ligne .cov .price {
  width: 40px;
  font-size: 1.2em;
  color:green;
  padding: 0px 5px 0px 5px
}

.ligne .cov .time {
  background-color: orange; 
  padding: 1px 6px 1px 6px;
  widht: 50px;
}

.ligne .cov .trajet {
  font-size: 1.3em;
  margin-left: 45px; 
}

.ligne .cov .driver-infos span {
	padding-left: 5px;
}

.ligne .cov .more-infos {
	margin-top: 15px; 
	margin-bottom: 10px;
}

.ligne .cov .car-infos {
	margin-left: 40px;
}

.ligne .cov .resume {
	width: 620px;
}

.ligne .cov .driver-infos { 
	width: 185px;
}

.ligne .cov .depart { 
	color:green; 
	font-weight: bold; }
	
.ligne .cov .arrivee { 
	color:orange; 
	font-weight: bold; 
}

.ligne .cov .vehicule {
	color:green;
  	font-weight: bold
}

.ligne .cov .places {
  	color:orange;
  	font-weight: bold
}

.consultation .cov .resume {
	width: 595px;
	padding: 5px;
}

.consultation .cov .route {
	width: 100%; 
	padding: 5px; 
	font-size: small;
}

.consultation .cov .route li span {
	font-style: italic;
}

.consultation .carinfos .p,
.consultation .carinfos li span {
	color: navy;
}

.consultation .cov .precisions { 
	width: 240px;
	padding: 5px;
}

.consultation .cov .driver-infos {
	font-size: small; 
	font-weight: bold;
}

.consultation .cov img {
	margin: 5px 4px 4px 0px;
}

.consultation .reservation button {
	width: 100%;
}

.consultation .questionsReponses .contenu {
	padding-left: 4px; 
	font-size: small;
}

.consultation .questionsReponses .panel {
	height: 220px; 
	overflow:auto;
}

.consultation .questionReponse {
	width: 550px; 
	margin: 4px; 
	padding: 0px 5px 0px 5px
}

.consultation .comment {
	width: 580px; 
	margin: 4px 4px 10px 4px; 
	padding: 4px 4px 4px 5px;
}

.consultation .questionReponse hr {
	margin: 0px;
}

/********************************************************************/

/************************GENERAL*************************************/

.lmi-nav-tabs {
	margin-bottom: 0px;
}

.max-width {
	width: 100%;
}

.contenu {
	padding: 5px;
	margin: 5px 0px 5px 0px;
}
.bloc-gauche {
	float: left;
}

.bloc-droit {
	float: right;
}

.bloc-avec-titre {
	padding: 0px;
	margin-bottom: 10px;
}

.bloc-avec-titre > .titre {
	padding: 0px; 
	margin: 0px;
	text-align: center;
}

.bords-arrondies {
	-moz-border-radius: 5px; border-radius: 5px;
}

.fond-orange {
	background-color: orange; 
}

.bordure-orange {
	border: 1px solid orange; 
}

.bordure-verte {
	border: 1px solid green; 
}

.bordure-noire {
	border: 1px solid black; 
}

.boutons-gestion {
	margin-top: 20px;
}

.bandeau-evenement {
	text-align:center;
	font-size: 80%;
	background-color: yellow
}

.smallFont {
  font-size: small;
}

.view > .title {
	text-align:center; 
	border-bottom: 1px solid black; 
	font-style: italic;
}

.texte-vert {
	color: green;
}

.texte-centre {
	text-align: center;
}

.text-orange {
	color: orange;
}

.text-navy {
	color: navy;
}

.dashboard .title { background: orange; padding-left:5px; }
.dashboard .contenu { padding:5px; font-size: 95% }
.dashboard table th, .dashboard table td { border: 1px solid black; }

.barrette {
   padding: 0;
   list-style: none;
   background: #7FFFD4;
   background: -moz-linear-gradient(#7FFFD4, #F0F8FF);
   background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #7FFFD4),color-stop(1, #F0F8FF));
   background: -webkit-linear-gradient(#7FFFD4, #F0F8FF);
   background: -o-linear-gradient(#7FFFD4, #F0F8FF);
   background: -ms-linear-gradient(#7FFFD4, #F0F8FF);
   background: linear-gradient(#7FFFD4, #F0F8FF);
  /*  -moz-border-radius: 50px;
   border-radius: 50px; */
   -moz-box-shadow: 0 2px 1px #9c9c9c;
   -webkit-box-shadow: 0 2px 1px #9c9c9c;
   box-shadow: 0 2px 1px #9c9c9c;
   height: 25px; 
   font-size: 95%;
}

.barrette .texte { 
   float: left; 
   width: 70%; 
   height: 100%; 
   padding: 0px 0px 0px 5px;
}

.barrette .detail {
   float: right;
   width: 30px;
   height: 100%;
   padding: 0px;
}

.dash_bloc .contenu { padding:5px; }

.dash_bloc .detail_box {
   margin-top: 5px;
   font-size: 90%;
   display: none;
}

.detail_box {
   margin-top: 5px;
   font-size: 90%;
}

.break-after { margin-bottom: 10px }
